[2016-03-12 17:12] Tymewalk opened #1 "basicTest.py doesn't change background color"
Take a look at basicTest.py. It should set the background color to red, but it stays the default white.
Anybody know why this is?

[2016-03-12 17:40] Tymewalk commented on #1
More testing later, I find that putting the code to set the color in the main loop says that the hiss module doesn't have an attribute `hissStage`...?

[2016-03-12 18:08] Tymewalk commented on #1
It works now. I had to make a function to set the color.
That's probably better practice anyway, so I'll leave it like that.

[2016-03-12 18:08] #1 closed

[2016-03-12 18:15] Tymewalk opened #2 "Necessary looks blocks"
These looks blocks from Scratch should be added in:

- [x] Switch to costume by number
- [x] Switch to costume by name
- [x] Default costume for tests
- [x] Add costume
- [x] Delete costume
- [x] Change size by ()
- [x] Set size to ()
- [x] Show
- [x] Hide
- [x] Z-indexing
- [x] Get costume number
- [x] Get size
- [x] Get costume name

Let me know of any more that might be needed, or any that shou

[2016-03-13 19:59] Tymewalk commented on #2
Added some of the reporters.

[2016-03-13 21:27] Tymewalk commented on #2
Size functions now work properly with the basic test. Run it for yourself.

[2016-03-14 13:01] Tymewalk commented on #2
The costumes now work with both name and numbers, as the commits in #3 show. Pretty soon I should be able to get a `deleteCostume()` function working.

[2016-03-14 13:11] Tymewalk commented on #2
Deleting costumes has been added.
Also, show and hide were unchecked but I added them in now.

[2016-03-14 13:14] Tymewalk commented on #2
I added in the last few items in #3's latest commit, so I'm gonna go merge that now.

[2016-03-15 15:56] Tymewalk commented on #2
Here's the updates on the last 4 items:
- Default costume was added.
- Next costume is not needed because it can be workarounded for now.
- The layer blocks are staying until I get feedback on what to do with them.

[2016-03-16 20:42] Tymewalk opened #5 "No "setup()" function?"
I'd really like a function that starts PyGame, rather than having it autostart when the module is imported.

[2016-03-18 14:27] Tymewalk opened #6 "Two windows at once?"
While working on #5 I noticed that if it returns one instance of the screen, you might be able to have two windows at once.

So I'll be testing out stuff to see if I can do that.

[2016-03-18 14:28] Tymewalk commented on #6
Perhaps I should create a new branch...

[2016-03-18 14:33] Tymewalk commented on #6
Nope. It doesn't work with just one process.
As long as I'm using PyGame, anyways.
Maybe I'll re-open this if I move away from PyGame...

[2016-03-18 14:33] #6 closed

[2016-03-18 18:12] Tymewalk opened #8 "Sprites can't be deleted"
You can't delete sprites once they've been made, meaning a clone-like feature would be useless.
There's probably a simple fix for this but I'm adding it here so I know that this has to be done.

[2016-03-18 18:16] Tymewalk opened #9 "Rotating makes it "bounce""
Take a look at SoExcited in basicTest.py, or Snakey in turnAndMove.py. They kind of "bounce" while they rotate.

I'll look for some code to fix this...

[2016-03-18 18:23] Tymewalk commented on #9
What? No, I didn't close it.

[2016-03-18 18:23] Tymewalk commented on #9
It still bounces. Maybe it's the image?
I'll find an image to test that's a perfect circle.

[2016-03-18 18:55] BookOwl opened #10 "Automatically blit the screen, handle events, and pause"
It might be a good idea to restructure Slither a bit so that it can automatically blit the screen and pause.
For example, the main loop in turnAndMove.py
[code]
Could be written as
[code]
This would make Slither even easier to use.

[2016-03-20 14:45] Tymewalk commented on #10
How would `runMainLoop` look in `slither/__init__.py`? Or is that just how Python modules work?

[2016-03-20 18:26] BookOwl commented on #10
Probably something like

[code]

It would require a rather large restructuring of your code (which is fine as it is, by the way).
I could code it up and make a pull request.

[2016-03-20 21:28] ghost commented on #2
Hmm, layers. How big should a layer be? How many layers? Why so many questions!?!?

[2016-03-21 08:48] Omegabyte opened #13 "Release on PyPi?"
It would be much easier if you submitted Slither to PyPi? Then you could just type "pip install slither" and you've got it. Anyways, I found a guide on submitting packages to PyPi here:

[2016-03-21 08:48] ghost commented on #13
http://peterdowns.com/posts/first-time-with-pypi.html

[2016-03-21 14:23] Tymewalk commented on #2
@Omegabyte  Layering of sprites works like it does in Scratch - one sprite on top of another.
I think the simplest way is to reorder the `sprites` list.

[2016-03-21 14:24] Tymewalk commented on #10
@BookOwl That sounds good, thanks! :smile: In the meantime I'll work on some of the other issues.

[2016-03-21 14:26] Tymewalk commented on #13
Sounds good to me, I've submitted stuff to PyPi before. The only problem might be PyGame, is that up on PyPi as well?

[2016-03-21 14:29] Tymewalk commented on #8
Yes there is - just remove the sprite from the list `sprites`.
The variable is still there, but you can always reassign that variable.

[2016-03-21 14:33] BookOwl commented on #13
@Tymewalk unfortunately, it isn't. You could just not list it in your dependencies and tell users to install it from the Pygame website before they use Slither

[2016-03-21 14:34] Tymewalk commented on #13
@BookOwl All right. I'll see if I can get a setup.py working for Slither.
I can probably just copy-paste it from Tymeventure with a couple of changes :stuck_out_tongue_closed_eyes:

[2016-03-21 14:44] Tymewalk commented on #10
Wait, actually, I might be able to just drop the code into `__init__` and then sort out the tests myself.
Other than the tests, nothing else has to be rewritten, right?

[2016-03-21 14:48] BookOwl commented on #10
@Tymewalk You would still have to code the callback registering functions. I'm working on it right now, I should finish soon

[2016-03-21 14:55] Tymewalk commented on #10
@BookOwl Thanks a lot, this'll really help! I'll make sure to credit you for the code.

[2016-03-21 16:55] Tymewalk commented on #10
#14 was merged, so I'm going to close this.

[2016-03-21 16:55] #10 closed

[2016-03-21 17:07] Tymewalk commented on #5
#14 appears to fix this. I'm closing this.
If someone else sees some other problems, let me know and I'll reopen it.

[2016-03-21 17:07] #5 closed

[2016-03-21 17:43] #8 closed

[2016-03-21 17:44] Tymewalk commented on #8
If anyone thinks that the fix isn't good, comment here and I'll re-open it.

[2016-03-21 17:53] BookOwl commented on #8
Sprites should have a `delete` method that deletes them from the sprite list. It would just be

[code]

So that I can do `mySprite.delete()` instead of `slither.sprites.remove(mySprite)`

[2016-03-21 20:20] Tymewalk commented on #8
@BookOwl It's done.

[2016-03-21 20:39] Omegabyte opened #16 "Example folder?"
Stuff the current examples in a folder, make some more. Simple. I found examples really helped me when learning python, it lets you understand how to use the code to make stuff.

[2016-03-21 20:41] ghost commented on #16
I'll work on making more examples. Just downloading the latest release of slither...

[2016-03-21 20:41] Tymewalk commented on #16
Sounds good, but how do I import Slither if it's a folder up from the Python programs?
Or should I get a setup.py file so I can just install it?

[2016-03-21 20:42] Tymewalk opened #17 "setup.py?"
There needs to be a proper setup.py file.

[2016-03-21 20:52] ghost commented on #16
No need, found out how: http://stackoverflow.com/questions/4383571/importing-files-from-different-folder-in-python

import sys
sys.path.insert(0, '/slither')

import slither

I'll test this...

[2016-03-21 20:56] Omegabyte commented on #16
Doesn't work, trying another method...

[2016-03-21 21:01] ghost commented on #16
Ok the method works but only imports as **init**

[2016-03-21 21:03] ghost commented on #16
Found a solution, add a copy of slither inside the slither folder named slither.

[2016-03-21 21:03] Tymewalk commented on #16
Then what about:

[code]

Also, copying Slither inside the examples folder is a bad idea - it can lead to problems such as the two versions being different.

[2016-03-21 21:04] ghost commented on #16
Ok I'll try that.

[2016-03-21 21:05] ghost commented on #16
Nope "No module named slither"

[2016-03-21 21:07] ghost commented on #16
What I meant was make another init inside the slither folder but name it slither.

[2016-03-21 21:08] Tymewalk commented on #16
Hmm... what if I put this in `slither/slither.py`:

[code]

[2016-03-21 21:09] ghost commented on #16
Good idea!

[2016-03-21 21:13] ghost commented on #16
Still getting errors  -_-
Import init somehow works fine

[2016-03-21 21:18] ghost commented on #16
tried **_import init as slither**_ but it failed

[2016-03-21 21:22] ghost commented on #17
What do you mean?

[2016-03-21 21:30] ghost commented on #16
Just wait till the PyPi release I guess? Since that would install slither into lib or site-packages or somewhere.

[2016-03-21 21:36] Tymewalk commented on #17
A setup.py file can be used to install Slither onto people's machines. It's necessary to have one to upload to PyPi. Plus, people could then just type `import slither` when they want to use it.

[2016-03-21 21:36] Tymewalk commented on #16
@Omegabyte Or until #17 gets fixed, which would also work.

[2016-03-21 23:11] BookOwl commented on #17
Should I work on this?

[2016-03-21 23:53] Tymewalk commented on #17
@BookOwl No, I can probably set it up myself.
I plan to just copy-paste the one from Tymeventure and reformat it for Slither :stuck_out_tongue:

[2016-03-21 23:55] BookOwl commented on #17
Just make sure that snakey.png is added to the packages produced

[2016-03-21 23:55] Tymewalk commented on #17
@BookOwl Oh, yeah. How should I do that with a `setup.py` file?

[2016-03-21 23:58] BookOwl commented on #17
I'm pretty sure that you use `package_data`, but I'm not sure. I've never had to do that before

[2016-03-22 00:00] Tymewalk commented on #17
@BookOwl I'll take a look at it now. In the meantime I'll at least add the `setup.py` file.

[2016-03-22 00:03] Tymewalk commented on #13
By the way, #17 will have to be resolved before this can be finished.

[2016-03-22 15:42] Tymewalk opened #18 "Docs are not up-to-date"
With Slither's new way of making projects, the current docs are out of date.
@Omegabyte, would you like me to assign you to this?

[2016-03-22 15:49] BookOwl opened #19 "Allow background images and not just background colors."

[2016-03-22 16:23] Tymewalk commented on #19
Shouldn't be too hard. I'll add it to the April 9th stuff in case I get backed up.

[2016-03-22 16:27] Tymewalk commented on #19
The fix isn't tested, this isn't closed.

[2016-03-22 16:36] Tymewalk commented on #19
NOW I tested it. It works.

[2016-03-22 16:36] #19 closed

[2016-03-22 21:36] ghost commented on #18
Done and dusted

[2016-03-22 21:37] ghost commented on #18
Fixed in  814d8b3 , docs should now be up to date.

[2016-03-22 21:41] ghost commented on #17
setup.py Doesn't work, it just makes an egg file in site packages and gives projects import error.

[2016-03-23 21:14] Tymewalk commented on #17
@Omegabyte You need to use `python setup.py build` and then `python setup.py install`.

[2016-03-23 21:14] Tymewalk commented on #18
@Omegabyte Thanks, I'll close this.

[2016-03-23 21:14] #18 closed

[2016-03-23 21:42] ghost commented on #17
Didn't do anything, still got an egg file.

[2016-03-23 21:54] Omegabyte commented on #17
I changed the installation instructions to move the slither folder to python's lib folder, this allows you to import slither from anywhere.

[2016-03-23 21:56] ghost commented on #16
I changed the installation instructions, if you follow the instructions you should be able to import slither from anywhere, this allows for an example folder.
b87bd64

[2016-03-23 23:58] Tymewalk commented on #16
@Omegabyte Sounds good! This will work as a temporary fix for now.
I'd really prefer to get a `setup.py` working (in #17), but for now this will do.
I'm re-cloning the repo so I can make the examples folder.

[2016-03-24 00:01] Tymewalk commented on #17
@Omegabyte Did you also run `python setup.py install`? `build` only makes the egg files so they can be installed.

[2016-03-24 00:10] Tymewalk commented on #16
The commit I just commented on fixes this issue.

[2016-03-24 00:10] #16 closed

[2016-03-24 00:11] Tymewalk commented on #17
Wait, I ran `python setup.py build; python setup.py install`, but I can't use Slither. Hm...

[2016-03-24 08:59] ghost commented on #17
Might be the problem. It just copies and pastes the egg file.

[2016-03-24 18:14] Tymewalk commented on #9
This isn't too important, but I do have to test it.

[2016-03-24 18:32] BookOwl opened #22 "Logo"
It would be cool to have a logo. Snakey could be our mascot.

[2016-03-24 19:03] BookOwl commented on #22
I made one! :D
![logo](https://cloud.githubusercontent.com/assets/13385064/14028163/82c374ea-f1d1-11e5-84b7-8ebc442b2d70.png)
@Tymewalk what do you think of it?

[2016-03-24 19:06] BookOwl opened #23 "Pen"
Pen support would be awesome!

[2016-03-24 19:08] BookOwl opened #24 "Sound"
Adding sound support would be great! I think that it would be best to implement it as a Sound class that wraps the Pygame sound API.

Relevent docs: http://www.pygame.org/docs/ref/music.html

[2016-03-24 19:26] BookOwl commented on #9
I created a test for it in 1a50389434a66c7b69ddb79b4c800656c9975ae1 using a circle image. It still happens.

[2016-03-24 20:34] BookOwl opened #25 "Using Codacy?"
[Codacy](https://www.codacy.com) is an online code review tool. Basically, it makes sure that we write good, quality code. It is also free for open source projects (like us). Currently, it gives us an A.

[![Codacy Badge](https://api.codacy.com/project/badge/grade/6c21312189334c1782a49e152d0f4b78)](https://www.codacy.com/app/stanleybookowl/Slither)

Should we use it?

[2016-03-24 20:55] Tymewalk commented on #9
@BookOwl That's really strange.
I'll have to find/make a function to rotate around the center rather than the corner...

[2016-03-24 20:57] Tymewalk commented on #24
Sounds perfect! Would `pygame.mixer` work?
EDIT: Never mind, it turns out that's what's being used :stuck_out_tongue_closed_eyes:

[2016-03-24 20:58] Tymewalk commented on #23
It would, although I think this would be far future.

[2016-03-24 20:59] Tymewalk commented on #22
@BookOwl If I could +1 more than once I would.
I'll use this on the Scratch topic and in README.md (with credit to you, of course :smile:).
(Snakey is already the mascot BTW)
What fonts did you use?

[2016-03-24 21:01] Tymewalk commented on #25
How does it detect things like "Unused Code" and "Code Style"?

[2016-03-24 21:07] BookOwl commented on #25
I don't know, but it does a good job. I use it for some of my projects.

[2016-03-24 21:11] Tymewalk commented on #25
All right, it looks good to me! (Now we'll have something to tell us when we've broken the entire thing :stuck_out_tongue:)
@Omegabyte, what's your take on this?

[2016-03-24 21:20] Tymewalk commented on #2
OK, so here's what we've narrowed this down to:
- The last two things are layers
- Layering is done by re-ordering the sprites list

[2016-03-24 21:23] Tymewalk opened #26 "Layers - reordering or z-index?"
(For the last two tasks in #2.)

I was thinking about how I would go about doing layers with Slither and I came up with two solutions:

 - Directly re-order the `sprites` list
 - Give each sprite a z-index that would be used to sort the `sprites` list

Re-ordering allows us to use "go to front" and "go back () layers" functions, but z-indexes would allow us to quickly sort the `sprites` list.

@Bo

[2016-03-24 21:37] Tymewalk opened #27 "setup.py not working correctly"
Following the instructions currently in README.md, trying to run an example gives me `Error: no module named slither`.

The `pip install PATH` gives me this:

    Unpacking ./dist/slither-0.1.2-py2-none-any.whl
    Installing collected packages: slither
    Successfully installed slither
    Cleaning up...

[2016-03-24 21:40] BookOwl commented on #22
Thanks! :DI used Segoe Script for the Slither text. I can't remember what font I used for the main text.

[2016-03-24 22:07] ghost commented on #26
Hmm

[2016-03-24 22:13] ghost commented on #25
Seems good but what does it consider as 'good quality code'?

[2016-03-24 22:14] ghost commented on #27
I'll try the new setup instructions...

[2016-03-24 22:18] ghost commented on #27
Getting error:
invalid command "bdist_wheel"

[2016-03-24 22:21] ghost commented on #22
Nice logo!

[2016-03-24 22:23] ghost commented on #26
I'm thinking directly reorder the sprite list, adding z-indexes wold just increase complexity.

[2016-03-24 22:42] BookOwl commented on #26
I think that we should use z-indexes because
1. It would make it easy for the end user to get the z-index of a Sprite by just using `sprite.zIndex`
2. It would be easy to implement. We would just need to do `sorted(sprites, key=(lambda s: s.zIndex))`

[2016-03-24 22:46] BookOwl commented on #27
@Tymewalk what was the output of `python setup.py bdist_wheel`?
@Omegabyte Do you have a recent version of setuptools installed?

[2016-03-24 23:35] BookOwl commented on #24
@Omegabyte implemented sounds using a loadSound function. I think that it would be better to use a Sound class to be more consistent with the rest of the API. @Tymewalk what do you think?

[2016-03-24 23:38] ghost commented on #26
true

[2016-03-24 23:41] Omegabyte opened #28 "loadSound() just makes a pop sound"
I ran a test script using the loadSound() function but it only make a popping sound instead of playing a alarm.

[2016-03-24 23:42] ghost commented on #24
Ok, I'll add a sound class.

[2016-03-24 23:57] ghost commented on #24
ARGHHHH Everything's gone haywire.

[2016-03-24 23:59] BookOwl commented on #24
What happened?

[2016-03-25 00:02] ghost commented on #24
For my test it says I entered two arguments when I only entered 1.

[2016-03-25 00:02] ghost commented on #24
TypeError: loadSound() takes exactly 1 argument (2 given)

[2016-03-25 00:04] BookOwl commented on #24
Since it is your loadSound function is in a class, Python automatically passes the class instance as the first argument. I would just take it out of the class.

[2016-03-25 00:10] ghost commented on #24
OH, I get whats happening now, I forgot to add self as an argument. LOL

[2016-03-25 00:14] ghost commented on #24
Ok, the the only problem is #28. Once it's fixed I'll start a pull request.

[2016-03-25 00:31] ghost commented on #28
It turns out nothing was wrong. The loadSound() function needs a data folder

[2016-03-25 00:56] #28 closed

[2016-03-25 00:59] ghost commented on #24
Merged sound branch. SLITHER NOW HAS SOUNDS!!!!

[2016-03-25 01:16] BookOwl commented on #24
~~We should be using pygame.mixer.music, since that supports more formats (like MP3 and OGG)~~
nvm

[2016-03-25 14:09] Tymewalk commented on #27
[code]

@BookOwl That's what I got.

[2016-03-25 18:51] Tymewalk commented on #26
So I think z-indexes are the way to go.
I'll get on that, it shouldn't be too hard.

[2016-03-25 18:53] Tymewalk commented on #2
Based on the conclusion we reached in #26, I'm replacing layers with z-indexes.

[2016-03-25 18:58] Tymewalk opened #30 "Should we use set and get functions?"
Take a look at code in the `Sprite` class:

    def changeScaleBy(self, amount):
        '''Change the sprite's scale by (amount).'''
        self.scale += amount

    def setScaleTo(self, scale):
        '''Set the sprite's scale to (amount).'''
        self.scale = scale

    def getScale(self):
        '''Get the sprite's current scale.'''
        return self.scale

Should we use `set` and `get

[2016-03-25 19:14] Tymewalk commented on #27
Just tested it, `python setup.py build; sudo python setup.py install` works.

[2016-03-25 19:34] Tymewalk opened #32 "Split tests and examples"
I notice we have most of our tests in `examples/`.
I think we should have a separate folder for tests.

[2016-03-25 19:46] Tymewalk commented on #2
#31 fixes the final item - the z-indexes.
I can now close this.
It feels good.

[2016-03-25 19:46] #2 closed

[2016-03-25 19:47] Tymewalk commented on #26
In #31 I added the z-indexes. So I'm closing this since we've reached a conclusion and added it with no problems.

[2016-03-25 19:47] #26 closed

[2016-03-25 19:49] Tymewalk commented on #17
`setup.py` has been added, and I've gotten it to work with these methods.
Continue any other problems on #27.

[2016-03-25 19:49] #17 closed

[2016-03-25 19:58] Tymewalk commented on #23
I noticed this and I think we might want to get a headstart on how we're going to do pen rather than just shoving it under the "far-future" label and calling it a day.

So Pen in Scratch works like this:
- Wherever the sprite goes, a pen trail is left behind
- The pen is global (I believe), and so are its attributes (color, size, etc.)
- The blocks "pen down" and "pen up" control if the pen draws

[2016-03-25 22:35] #24 closed

[2016-03-26 01:15] BookOwl commented on #30
Since we are not validating anything, I say that we get rid of them and just let the user directly manipulate the variables. If we decide that we need validation, we can always switch to properties.

[2016-03-26 01:15] BookOwl commented on #32
:+1:

[2016-03-26 10:22] ghost commented on #27
The bdist_wheel command failed because I didn't install wheel.

[2016-03-26 10:33] ghost commented on #27
`python setup.py build` and `python setup.py install` actually works now. Maybe it was failing because I was using the old setuptools. (Just updated it!)

[2016-03-27 02:15] BookOwl commented on #22
@Tymewalk

[2016-03-27 23:12] ghost commented on #32
Working on it, should be done soon.

[2016-03-28 14:31] Tymewalk commented on #27
@Omegabyte Glad to hear it. I'll close this and add a note about that now.

[2016-03-28 14:31] #27 closed

[2016-03-28 14:33] Tymewalk commented on #22
@BookOwl Yeah?

[2016-03-28 14:34] Tymewalk commented on #25
@BookOwl Why'd you close it?

[2016-03-28 14:53] Tymewalk commented on #30
@BookOwl OK.
Should we remove the `changeBy` functions, too? Or should we leave those in?

[2016-03-28 17:19] BookOwl commented on #22
@Tymewalk are you going to use the logo?

[2016-03-28 17:20] BookOwl commented on #30
Yes

[2016-03-28 17:47] Tymewalk commented on #30
@BookOwl OK. I'll get on it.

[2016-03-28 17:50] Tymewalk commented on #30
Wait, we actually DO validate something - when the z-index is changed we reorder the sprites.
That's the only thing though.

[2016-03-28 17:54] BookOwl commented on #30
We can use properties to automatically reorder the sprites list when it gets changed. I'm on my way home from camping now, I can work on this either tonight or tomorrow. (I'm in the Eastern time zone)

[2016-03-28 17:55] Tymewalk commented on #30
@BookOwl OK. Whenever is fine, I'll just make a separate branch so I can get started. :smile:

[2016-03-28 17:56] BookOwl commented on #30
Great!

[2016-03-28 17:58] BookOwl commented on #13
I think we're ready

[2016-03-28 17:59] Tymewalk commented on #13
@BookOwl I think so too. What version do we release as? 0.0.1?

[2016-03-28 18:01] BookOwl commented on #13
I would do 0.1.0

[2016-03-28 18:07] Tymewalk commented on #13
@BookOwl All right. (I'll also make a release here on GitHub.)
How do we share a development version/fix over PyPi? Or is that discouraged?

[2016-03-28 18:18] Tymewalk commented on #13
We're now released on PyPi as `slither`. Yay!

[2016-03-28 18:20] BookOwl commented on #13
1. I don't think that development versions are supposed to be shared on pypi. You do put up bug fixes.
2. Great! I'll test it out when I get home

[2016-03-28 18:31] Tymewalk commented on #30
Closing as this was only a question, we've reached an agreement.

Discussion about the actual implementation should go in #34.

[2016-03-28 18:31] #30 closed

[2016-03-28 18:38] Tymewalk commented on #25
Bump. I don't remember us reaching any decisions.

[2016-03-28 21:08] ghost commented on #13
YAY! Finally an easy way to get slither

[2016-03-28 23:41] BookOwl commented on #23
Point 2 is wrong, every sprite's pen has it's own attributes.

[2016-03-28 23:41] BookOwl commented on #13
Should we close this?

[2016-03-28 23:42] BookOwl commented on #32
We should move the examples directory to the slither folder, so that we can distribute the examples on PyPi with the slither package.

[2016-03-29 15:56] ethanhs opened #35 "SVG support"
So as not to clog up the Scratch topic.

Summary of previous discusion:

Our options are:
[glsvg](https://github.com/fathat/glsvg), which is easy and _should_ work. Maybe be issues with multiple svgs at the same time (which is a problem).

[pyrsvg](http://cairographics.org/cookbook/pyrsvg/), a standard for vector raserization. Requires the hefty GTK libraries though.

Wrapping a C++ solution? [nan

[2016-03-29 17:59] Tymewalk commented on #32
@BookOwl OK, then our tests can be in `tests/`?

[2016-03-29 18:00] Tymewalk commented on #13
@BookOwl That depends. Does it work for you?

[2016-03-29 18:03] Tymewalk commented on #25
Since this is open, I think Codacy is a great idea. I already see a couple places where it says there's code that isn't being used (a couple `import pygame`s where Slither just takes care of that for us, for example).

[2016-03-29 18:06] Tymewalk commented on #35
I think we should start with glsvg and then try to push as many SVGs into the program as we can. If the maximum number turns out to be something like 1000, we can probably say "It's OK" since I doubt anyone would use 1000 SVGs anyways. :stuck_out_tongue:

[2016-03-29 19:23] BookOwl commented on #32
That sounds great to me!

[2016-03-29 19:27] BookOwl commented on #13
Pip install is not working for me.

[code]

I tried it on two different Windows machines

[2016-03-29 19:30] Tymewalk commented on #13
@BookOwl Weird... I know it's up on PyPi.

[2016-03-29 19:30] BookOwl commented on #13
@Tymewalk, can you give me the URL?

[2016-03-29 19:31] Tymewalk commented on #13
@BookOwl Yeah. Just give me a moment, it's under `slither` if that helps.

[2016-03-29 19:31] Tymewalk commented on #13
https://pypi.python.org/pypi/slither

[2016-03-29 19:37] BookOwl commented on #13
It doesn't look like you have any files uploaded...
Can you give me access to the Pypi thing so that I can see what's wrong?

[2016-03-29 19:40] Tymewalk commented on #13
Strange... I know I have slither and Tymeventure up there.

[2016-03-29 19:41] Tymewalk commented on #13
@BookOwl WAIT - I found it. There's information, but no files. I never uploaded any. :facepunch: (closest thing to facepalm)

[2016-03-29 19:43] Tymewalk commented on #13
[code]

That's what `python setup.py sdist upload -r pypi` gives me. Let's check to see what files are up on PyPi now...

[2016-03-29 19:43] Tymewalk commented on #13
@BookOwl Now try.

[2016-03-29 19:45] Tymewalk commented on #25
@Omegabyte I think it considers it based on things like how many TODOs we have, and how much code goes unused.

[2016-03-29 19:51] BookOwl commented on #13
It worked!

[2016-03-29 20:01] Tymewalk commented on #13
@BookOwl Yay, it finally works!
So, TL;DR: **You can use `pip install slither`, and Tymewalk needs to learn register != upload.**

[2016-03-29 20:02] Tymewalk commented on #13
Oh, and we completed all the April 9th tasks!

[2016-03-30 05:07] emmatyping commented on #35
So, you aren't getting 1000 SVGs. You get one. I just tested glsvg, and well, the bug reported [here](https://github.com/fathat/glsvg/issues/3) is accurate. I will see if I can maybe fix this bug, but that is a significant issue. Also, if your curious, [my code example that only renders one SVG](https://gist.github.com/IronManMark20/646af61b61942646538cfc746d491f6a).

I'll report back if I make an

[2016-03-30 12:40] BookOwl commented on #35
That's _really_ bad.

That sounds like it could work.

I'm starting to think that writing our own rasterizer might be the best option.

[2016-03-30 12:47] BookOwl opened #37 "Move slither to an organization."
This will allow us to have finer-grained control over who has access to what, and allows us to stick multiple repositories under the slither banner, which will come in handy if we decide to write our own svg rasterizer (#35) or create a 3d version.

[2016-03-30 12:48] BookOwl commented on #25
@Tymewalk, do you think we should use it?

[2016-03-30 12:48] BookOwl commented on #32
@Omegabyte, how is it coming?

[2016-03-30 12:52] BookOwl opened #38 "Merge CONTRIBUTORS.md into README.md"
CONTRIBUTORS.md isn't that big, and it would give us some more stuff to put in our README.

[2016-03-30 19:21] Tymewalk commented on #25
@BookOwl Yes. I already see a few things on Codacy that could be fixed before they cause bigger problems later on.

[2016-03-30 19:22] Tymewalk commented on #37
OK. I'll make one now.

[2016-03-30 19:23] Tymewalk commented on #37
The name "Slither" is taken. But "SlitherPygame" isn't.

[2016-03-30 19:29] BookOwl commented on #37
How about "PySlither"?

[2016-03-30 19:31] BookOwl commented on #25
OK, I'll put the icon on the README and close this.

[2016-03-30 19:31] #25 closed

[2016-03-30 19:31] Tymewalk commented on #35
YIKES.
How big are the GTK libraries, and do they come installed by default? I'm considering pyrsvg.

Will it slow things down if we use it a lot? Or if a sprite constantly rescales itself?

[2016-03-30 19:32] Tymewalk commented on #37
@BookOwl That's not taken. I like it!
Should I go ahead and create it?

[2016-03-30 19:33] BookOwl commented on #35
@Tymewalk, if we do offscreen rasterization, I think that we would do it once and scale and rotate the rasterized image.

[2016-03-30 19:34] BookOwl commented on #37
@Tymewalk sure!

[2016-03-30 19:34] BookOwl commented on #37
You then need to go to the settings tab of this repo to move slither to the slither org.

[2016-03-30 19:37] Tymewalk commented on #35
@BookOwl OK, so here's how I understand the workflow:
- User makes a Slither sprite
- User adds an SVG costume to it with height and width
  - glsvg rasterizes it
  - The rasterized image goes into the costumes list
- Continue as if it was just a bitmap

[2016-03-30 19:40] Tymewalk commented on #37
@BookOwl OK. It's also saying we need a billing e-mail. What should I put, GitHub's no-reply?

[2016-03-30 19:40] emmatyping commented on #35
If we go the route of rasterize once, we will need to rasterize at a high resolution, else we might get bad scaling. Which would increase time to rasterize. I will try to work on this today and tomorrow. The documentation for PyOpenGL is not the best, but I think I can piece things together.

@Tymewalk I think we can just add a little bit to where people add the costume (I assume they must give a

[2016-03-30 19:44] BookOwl commented on #35
It might be a good idea to look into creating our own SVG renderer.

Thanks for working on it!

[2016-03-30 19:45] BookOwl commented on #37
There should be a free option... Let me look into at the docs real quick.

[2016-03-30 19:46] Tymewalk commented on #37
@BookOwl There is a free option, I chose it, but it still wants a billing e-mail.

[2016-03-30 19:46] BookOwl commented on #38
#39 would add this.

[2016-03-30 19:48] emmatyping commented on #35
Whew, that would be a lot of work. Maybe. I would rather wrap a C++ one for speed.

Also, as for speed of the rasterization, I have no idea. I will have to experiment. OpenGL uses the GPU, so it should be fast, but with Python.... I don't know.

As for pyrsvg, it is not included in the Python distribution, and depends on the GTK+ runtime (I just checked install size ~165mb).

[2016-03-30 19:50] Tymewalk commented on #35
@IronManMark20 Yeah, they do specify a file path. With `split` it shouldn't be too hard to check.

I was asking if GTK comes pre-installed, but I'll take that as a no.
165 MB is a little much. Maybe there could be a no-SVG version of Slither that doesn't require it?

Or maybe it checks if GTK is installed, and if not, doesn't support SVGs, but still lets you use Slither without them.

[2016-03-30 19:51] #38 closed

[2016-03-30 19:52] emmatyping commented on #35
Yeah, the answer is no to that too, with the minor exception of Linux distros that come with GTK.

We could go the if it has it, use it approach, but I'd rather see if I can wrap something first, as that would be _much_ smaller.

[2016-03-30 19:53] BookOwl commented on #37
@Tymewalk, just put in your email address

[2016-03-30 19:55] Tymewalk commented on #37
@BookOwl Done. You've been invited, and so has everyone else!

[2016-03-30 19:55] #37 closed

[2016-03-30 19:56] BookOwl commented on #37
Awesome!

[2016-03-30 19:56] Tymewalk commented on #22
It just occurred to me that we should also have a square logo, for our new orginization (#37).

[2016-03-30 19:57] BookOwl commented on #22
Snakey with a green background?

[2016-03-30 19:58] Tymewalk commented on #35
@IronManMark20 As you said, it might be possible to wrap nanosvg.
I'm afraid that's out of my league, I've never wrapped anything into Python before.

[2016-03-30 19:58] Tymewalk commented on #22
@BookOwl That should be OK. Do you want me to make it? It shouldn't be that hard.

[2016-03-30 20:04] BookOwl commented on #22
@Tymewalk OK

[2016-03-30 20:04] BookOwl commented on #35
Me neither.

[2016-03-30 20:08] Tymewalk commented on #22
Reopening since work is being done here.

[2016-03-30 20:09] Tymewalk commented on #22
![128x128 logo](http://i.cubeupload.com/PhV2bQ.png)
How's this?

[2016-03-30 20:09] BookOwl commented on #23
I'm thinking that we could implement this by giving each sprite its own Surface to store its pen drawings on, and the blit function could automatically blit them to the main Surface.

@Tymewalk, should I start working on this?

[2016-03-30 20:09] BookOwl commented on #22
Looks ~~good~~ great, but maybe you should add the word "Slither" to the top or bottom of it using the Segoe Script font (to be consistent)

[2016-03-30 20:11] Tymewalk commented on #23
@BookOwl Once we get some more problems worked out.
I'd like to get #36 complete before anything else, since that seems to be the easiest thing.
#9 is also somewhat important, as rotation plays a big role in some pen projects.

[2016-03-30 20:12] Tymewalk commented on #22
@BookOwl I don't have that font. Where can I get it?

[2016-03-30 20:13] BookOwl commented on #22
I don't know, it came with my windows laptop.

[2016-03-30 20:15] Tymewalk commented on #22
@BookOwl Oh well. (I'm on Linux, so I guess it might be a Windows-exclusive.)
![new logo](http://i.cubeupload.com/a7wxYu.png)
I used the text from your banner and added it on here. How does it look?

[2016-03-30 20:15] BookOwl commented on #22
Looks good to me!

[2016-03-30 20:16] BookOwl commented on #22
apparently, the segoe font is owned by microsoft. o_0

[2016-03-30 20:25] BookOwl opened #40 "Tutorial"
Would be nice

[2016-03-30 20:36] Tymewalk commented on #40
After #32 gets completed tutorials can go in there, along with a quick-start guide in the docs.
@PySlither/documentation

[2016-03-30 20:37] Tymewalk commented on #22
@BookOwl In that case I'll change our organization's profile pic and close the issue.

[2016-03-30 20:37] #22 closed

[2016-03-30 21:03] BookOwl opened #41 "Website"
Github has a service called Github Pages that takes our README and creates a site for us, and hosts it. This might be nice later.

[2016-03-30 21:10] BookOwl commented on #9
I updated the test, and it shows that the problem is in the rotation function

[2016-03-30 21:10] Tymewalk commented on #41
I'm aware of GitHub pages, I've used it myself :smile:
I do like the idea of a website, but I also think that's a little farther down the line.

[2016-03-30 21:13] Tymewalk commented on #9
OK.
I'll work on #36 so we can merge that and not have to worry about Git's stupid "merge conflicts" when we fix this.

[2016-03-30 21:14] BookOwl commented on #41
The explanation was for people who have never heard of it. :package:

That's why I added the far-future label. :package:

[2016-03-30 21:15] Tymewalk commented on #41
_facepalms_ Sometimes I forget I'm not the only person here...

[2016-03-30 23:28] ghost commented on #32
I'm getting errors when I try to push the changes, I'm sending from my phone. I should be able to use my computer in a few hours.

[2016-03-30 23:32] ghost commented on #35
No clue at all. lol

[2016-03-30 23:33] ghost commented on #41
Who doesn't know what github pages is?

[2016-03-30 23:34] ghost commented on #41
I would like to help with this, HTML is fun.

[2016-03-30 23:40] Omegabyte opened #42 "Basic collision detection"
This would be useful for games

[2016-03-31 01:22] emmatyping commented on #35
So, actually, if I forgot I forked [this](https://github.com/IronManMark20/pygame-svg) a while ago. The issue as I remember was it was made for linux, so it uses make files (I dev on Windows). I think I can translate it to a cmake build system (fingers crossed) as I am now much more familiar with C++ and build systems.

EDIT:
I have cmake going, and I have a Windows solution, I will try to see how

[2016-03-31 12:21] BookOwl commented on #35
@IronManMark20, we are currently uploading whls to PyPi, if that answers your question.

I think that we should focus on making it as easy as possible for end users to install, since we are targeting beginning programmers.

[2016-03-31 13:14] BookOwl commented on #9
I figured out what the bug is! I'm working on it now. (it is not the `rotateCenter()` function after all)

[2016-03-31 13:22] BookOwl commented on #9
I fixed the bouncing bug... but now the sprites grow and shrink!?!

[2016-03-31 14:44] BookOwl commented on #9
I fixed this!!!

[2016-03-31 15:24] BookOwl commented on #22
@Tymewalk, do you think that it would be a good idea to put our banner logo on the Scratch topic?

[2016-03-31 15:27] Tymewalk commented on #22
@BookOwl Yep. I'll upload it to CubeUpload in a moment.

[2016-03-31 15:31] emmatyping commented on #35
The reason I ask is that it _generally_ isn't easy to build C/C++ extensions on Windows (or period). So I am trying to think about how we can make it the easiest. If we provide whls, then people can just use pip, and won't have to worry about building.

If we want of ease of _install_, this shouldn't be a problem, I can just build whls for Windows and Linux for the supported Python versions, and h

[2016-03-31 15:34] Tymewalk commented on #35
Yes, we are targeting beginning programmers, but I also think that if it only requires one or two extra steps, that's OK.
The general idea is that when you use Slither, you (normally) fall into one of these three categories:
- Moving on from Scratch to Python
- Starting off with Python and Pygame, but with basic Python knowledge
- Trying to make Pygame easier

All three groups will probably know e

[2016-03-31 15:34] #9 closed

[2016-03-31 15:35] BookOwl opened #44 "Release v0.2"
Since #9 was (finally!) fixed, I think that we should make a version 0.2 release.

[2016-03-31 15:51] BookOwl commented on #44
Tymewalk said that when #36 was finished, we'll release version 0.2

[2016-03-31 15:54] Tymewalk commented on #44
So since #36 is done, can anyone else think of anything that should be done before v0.2?

[2016-03-31 15:56] BookOwl commented on #44
We should update the examples to the new API and put them in the slither package.

[2016-03-31 15:58] BookOwl commented on #42
We can put this in v0.3

[2016-03-31 15:59] Tymewalk commented on #44
That's right, I forgot about #32.

[2016-03-31 16:00] Tymewalk commented on #44
Side note - if we really wanted, we could include examples in an 0.2.1 release.

[2016-03-31 16:01] BookOwl commented on #44
OK, lets just get #36 done and then release version 0.2

[2016-03-31 16:04] BookOwl opened #45 "Version 1.0"
What do we need to have done before we can go to 1.0?

[2016-03-31 16:08] Tymewalk commented on #44
#36 is done, and while doing that I checked and didn't find any other problems.
So we're ready to release?

[2016-03-31 16:08] BookOwl commented on #44
I think so!

[2016-03-31 16:08] Tymewalk commented on #44
Sounds good! I'll build and upload it to PyPi.

[2016-03-31 16:08] BookOwl commented on #44
I'll make the Github release

[2016-03-31 16:11] Tymewalk commented on #22
Done, check the Slither topic: https://scratch.mit.edu/discuss/topic/187865/?page=1#post-1845049
(Apparently 43 minutes is a moment :stuck_out_tongue:)

[2016-03-31 16:12] Tymewalk commented on #45
First we need examples, plus more up-to-date docs.
Next I think we need to decide what we're going to do with pen (#23) and SVG support (#35).
Also better sensing (collisions are in #42).

[2016-03-31 16:17] BookOwl commented on #44
Since 0.2 has been released, closing

[2016-03-31 16:17] #44 closed

[2016-03-31 16:20] Tymewalk opened #46 "Examples are out of date"
With many recent changes to Slither's API, the examples have fallen behind and are now out of date.

[2016-03-31 16:21] BookOwl commented on #46
I'll fix this

[2016-03-31 19:33] emmatyping commented on #45
Do you want feature parity by 1.0? Or is that for later or not planned?

[2016-03-31 19:58] Tymewalk commented on #45
What's that?

[2016-03-31 19:58] Tymewalk commented on #46
Closing because it was fixed.

[2016-03-31 19:58] #46 closed

[2016-03-31 20:00] Tymewalk commented on #23
I think it's about time we start considering this a little more.

While there are other things I'd like added and fixed before we try to add pen, it's never a bad time to start discussing.

That's a good idea, and since (AFAIK) PyGame lets you draw lines, the "Surface" could just be a list of lines for the `blit` function to draw.

[2016-03-31 20:25] Tymewalk commented on #32
#46 fixes the moving examples into the `slither/` folder so they can be bundled with Slither when downloading from PyPi.

Now we just need a `tests/` folder for ourselves.

[2016-03-31 20:35] Tymewalk commented on #40
#32 is done (at least the part that matters is), so now we can start working on this.

[2016-03-31 20:46] BookOwl opened #48 "move (n) steps"
![capture](https://cloud.githubusercontent.com/assets/13385064/14190334/2b1f9dc4-f760-11e5-963d-10f8ff9349ab.PNG)

I can't believe that we don't have this function.

[2016-03-31 20:58] ghost commented on #32
Done! I had to reclone the repository and do it again.

[2016-03-31 20:58] #32 closed

[2016-03-31 20:59] ghost commented on #48
LOL! We forgot the easiest thing.

[2016-03-31 21:06] Omegabyte opened #49 "Sound"
Sound seems to work fie but the was a comment saying it was't working. hmm?

[2016-03-31 21:09] BookOwl commented on #49
When I tried it I just got a bunch of errors

[2016-03-31 21:11] Tymewalk commented on #49
I tried it and didn't hear a boom, just "click-click-click-click..."

[2016-03-31 21:12] ghost commented on #49
Oh, I'm getting an indent error.

[2016-03-31 21:12] ghost commented on #49
It won't go away!!!!!

[2016-03-31 21:13] ghost commented on #49
`IndentationError: unindent does not match any outer indentation level`

[2016-03-31 21:17] ghost commented on #49
It goes click click click if it cannot find a sound file.

[2016-03-31 21:20] Tymewalk commented on #48
Not really "easiest", but it's something.
I believe we could just take the code from Scratch for this block. (Although we'd have to decide how it relates to direction...)

[2016-03-31 21:20] BookOwl opened #50 "Code of conduct."
I think that we need some more rules for how to contribute to slither. Here is what I have so far:

1. Never push directly to master. Always branch and make pull requests. By doing this, we make sure that the code in master is 100% bug free and that any changes get reviewed.
Exception: If you are just doing a bug fix that really can not wait, you can push directly to master, but this should be qui

[2016-03-31 21:22] BookOwl commented on #49
I always got a pygame exception saying that it could not load the file. I think that we should disable the code in the master branch and make a new branch that we can use to try and get sound to work

[2016-03-31 21:24] ghost commented on #49
Wait

[2016-03-31 21:27] ghost commented on #49
Ok, I fixed the indent error.

[2016-03-31 21:28] ghost commented on #49
Should work now.

[2016-03-31 21:28] BookOwl commented on #48
There is a workaround shown [here](http://wiki.scratch.mit.edu/wiki/Move_%28%29_Steps_%28block%29). We could use it.

[2016-03-31 21:29] ghost commented on #50
Don't we already have this? See readme.md

[2016-03-31 21:30] BookOwl commented on #50
Yes, but I wanted to formalize it to make it easier for other people to contribute.

[2016-03-31 21:30] BookOwl commented on #50
@Tymewalk

[2016-03-31 21:36] ghost commented on #49
Yeah I think your right BookOwl, now I'm getting a memory error.

[2016-03-31 21:44] ghost commented on #49
Yay, memory error comes up cause my computer doesn't have much ram.

[2016-03-31 22:14] emmatyping commented on #49
A memory error? With audio? Hm. That seems strange. To be clear are you getting an out of memory error? Or is it an access violation? or something else?

[2016-03-31 22:30] emmatyping commented on #45
Sorry, feature parity means that we support all the same functionality of Scratch. So one could port to Python from Scratch any project theoretically? Or are we aiming for a subset of the Scratch functionality?

[2016-04-01 02:41] Tymewalk commented on #45
@IronManMark20 Hmm... the events like "when I receive" are tricky. Although yes, most features will be included.

[2016-04-01 02:41] Tymewalk commented on #48
@BookOwl The workaround looks good to me!

[2016-04-01 02:42] Tymewalk commented on #49
I agree, that is strange. Can you post the exact error?

[2016-04-01 12:28] BookOwl commented on #49
Since we're having so much trouble getting Pygame's audio to work, maybe we should try using [simpleaudio](https://pypi.python.org/pypi/simpleaudio/1.0.0)

[2016-04-01 19:43] Tymewalk commented on #50
How about this (modifying what you said a little):
1. Never push directly to master. Always make branches and pull requests. This is to make sure Slither stays as bug-free as possible.
   - The only exception is minor changes or important bugfixes that can't wait for someone to review it.
2. Always ask for feedback before merging a pull request.
3. Only @Tymewalk should merge pull request that add

[2016-04-01 19:57] BookOwl commented on #50
@Tymewalk sounds great to me!

[2016-04-01 20:21] BookOwl commented on #35
I've had another idea related to this. Why don't we split the svg c/c++ extension into it's own package and provide whls for that. That way we can make it easy for people to build slither from source, while still giving us SVG support.

[2016-04-01 20:21] BookOwl commented on #35
@Tymewalk @IronManMark20

[2016-04-01 20:28] Tymewalk commented on #35
@BookOwl Sounds OK to me. But if they don't install the SVG extension, what will Slither do when it tries to import a package that isn't installed, or try to load an SVG?

[2016-04-01 20:38] BookOwl commented on #35
If we put the svg extension on pypi, it can automatically be installed along with slither, but in case that is not possible, slither could recover from the `ImportError` and disable svg support.

[2016-04-02 00:16] emmatyping commented on #35
@BookOwl sounds good. I'll see what I can do.

[2016-04-04 00:39] emmatyping commented on #35
Alright, no completed module yet but today I was able to get the dependencies of SDL-SVG to build on Windows, which is a feat in of itself. I found some Windows ports which were poorly documented, but with the dependencies built, I should be able to build SDL-SVG, which is the main blocker to using Pygame-SVG. I have to re-write all the build logic, as it is written for Linux, but it should be doa

[2016-04-04 03:16] emmatyping commented on #35
Well, I just remembered what made porting SDL-SVG such a pain. There are many points where I will have to re-write the code, as the VS 2010 compiler doesn't support it  (Microsoft is bad at supporting C/C++ standards). I think I did it in a few hours last time, but I don't think I kept a copy. :sob:    I'll keep working till I get SDL-SVG to compile. Then getting pygame-svg to compile should be a

[2016-04-04 12:19] BookOwl commented on #35
@IronManMark20 sounds like great progress to me! :+1: Keep up the good work!

[2016-04-04 12:19] BookOwl commented on #48
I added it in pull request #51

[2016-04-04 13:09] BookOwl opened #52 "Make sprites automatically change to the new costume when adding one"
Currently, to add a costume to a Sprite and change to it, you have to write the following:
[code]
It would be nice if the addCostume method made the sprite switch to the added costume

[2016-04-04 14:03] Tymewalk commented on #52
I think @Icelys made a change that auto-swapped to the first added costume. So all we have to do is remove the code to check if it's the first costume.

[2016-04-04 14:04] Tymewalk commented on #48
Closed as I merged that pull request.

[2016-04-04 14:04] #48 closed

[2016-04-04 14:09] Tymewalk commented on #35
OK. The Slither-side code should go like this:

[code]

This way all you have to do in your Slither code to test for SVGs is this:

[code]

[2016-04-04 14:16] Tymewalk commented on #35
@IronManMark20 Wow. A round of applause and thanks for you! :clap: :+1:
By the way, isn't `gcc` available for Windows somewhere? I searched about it and I found a few things that say it is and a few that say it isn't.

[2016-04-04 14:26] BookOwl commented on #52
Added in pull request #53 (not merged)

[2016-04-04 14:33] emmatyping commented on #35
@Tymewalk `gcc` _is_ available, but the binaries that it compiles are not compatible with those generated by the MSVC compiler (provided by Microsoft). The official Python distribution is built using specific versions of the MSVC compiler/runtime, and extensions/libraries/etc must also be compiled using the same compiler (even the same version annoyingly). So unless we want to ask people to use an

[2016-04-04 16:49] Tymewalk commented on #52
Merged. Closing this issue.

[2016-04-04 16:49] #52 closed

[2016-04-04 16:50] Tymewalk commented on #35
@IronManMark20 Oh, OK. Good to know.
Do you plan on submitting the code to PyPi when it's done?

[2016-04-04 16:54] Tymewalk commented on #50
(So GitHub only auto-closes with `Fix #N`, not `Add #N`?)
Closed because this was added. If anyone would like to propose changes, make a new issue.

[2016-04-04 16:54] #50 closed

[2016-04-04 16:56] Tymewalk commented on #23
_bump_

See above.

[2016-04-04 23:43] emmatyping commented on #35
@Tymewalk yes. I think I'll work on getting things working on Windows first (this might be a couple of weeks, so don't hold your breath). As I remember, when I built on Ubuntu it was quick and painless, but I will have to see if my changes break anything. I don't have a mac, so I can't test that.... I will grab the name on PyPi soon. I should be able to upload the current (working on ubuntu but no

[2016-04-06 18:54] Tymewalk opened #54 "v0.3.0?"
When do we want to release v0.3.0? And what do we want added before then?

[2016-04-06 18:56] Tymewalk commented on #54
I know #42 is on the list, as well as resolving #49. Anything else I may have forgotten?

[2016-04-06 19:06] Tymewalk opened #56 "Use show and hide?"
(Part of #55)

    def show(self):
        '''Show the sprite.'''
        self.showing = True

    def hide(self):
        '''Hide the sprite.'''
        self.showing = False

Would it be better to rename `Sprite.showing` to `Sprite.show` and have people manually set it with `True` and `False`?

[2016-04-06 20:58] BookOwl commented on #56
Yes.

[2016-04-08 20:07] ghost commented on #56
Yes

[2016-04-10 14:16] bjskistad opened #57 "Live?"
Do you guys have a website? I think it would be useful to have a GH pages website to test.

[2016-04-10 18:30] BookOwl commented on #57
1. We talked about making a website in #41, but I think that we decided to wait until version 1.0 to really consider it.
2. This is a python library, I'm not sure how people could test it out on a website...

[2016-04-10 18:42] skistaddy commented on #57
Oh. I thought this was like Elemental, except with python blocks.

[2016-04-10 18:47] BookOwl commented on #57
No, this is a Python library designed to make it easier to create Scratch style programs with graphics.

[2016-04-10 18:48] BookOwl commented on #57
Although a block based python website would be cool...

[2016-04-10 18:54] skistaddy commented on #57
Yeah, I agree. I my start on that.... XD

[2016-04-10 19:37] emmatyping commented on #57
Somewhat related I guess, I was thinking it would be cool to use [Brython](http://www.brython.info/) and [brython-pygame](https://github.com/brython-dev/brython-pygame) to run Slither in the web (I plan on playing with this when I get the time).

EDIT: also if you couldn't tell I changed my username. :smile:

[2016-04-13 18:12] Tymewalk commented on #57
@ethanhs Woah, neat! Didn't know that thing existed for Python.

[2016-04-15 09:02] ghost commented on #57
I know right! I've been a bit busy on schoolwork lately, have I missed anything important?

[2016-04-15 09:05] ghost commented on #41
This is a bit of a future thing but I'll look into it.

[2016-04-15 09:14] ghost commented on #57
Yeah a block based editor would be awesome!
Although it wouldn't be easy to make.

[2016-04-15 12:12] skistaddy commented on #57
Should we? I can make an organization and a Scratch Topic...

[2016-04-15 12:39] BookOwl commented on #57
That sounds like a neat project, but I think that it should be separate from Slither.
If you do it, I might join.

[2016-04-15 13:10] skistaddy commented on #57
K. I'll start it.

[2016-04-15 16:58] skistaddy commented on #57
Made it: https://scratch.mit.edu/discuss/topic/194076/

[2016-04-17 20:24] emmatyping commented on #35
Well, quick update. I haven't had a lot of time to work on this recently, but today I am very close to getting SDL_svg to compile. I have to deal with a couple of the dependancies being outdated, and I will have to manually recompile them. After that it should be about a week or so before I will have a whl for very alpha testing for Windows. I will see if I can build a wheel for Linux sooner...

E

[2016-04-17 21:58] BookOwl commented on #35
@ethanhs great job!
supporting 3.5 only on windows sounds fine to me.

[2016-04-26 15:48] Tymewalk commented on #35
@ethanhs
(Sorry for the late reply)
Sounds awesome! I don't care about having to only support 3.5 on Windows, to be honest I didn't even expect to support Python 2 and 3 for long on any platform.

[2016-04-26 16:56] Tymewalk commented on #54
Bumping this. Slither development has been dead for a while but I'm working on fixing that. See #58 for what I'm doing right now.

[2016-04-26 17:02] Tymewalk commented on #23
A `clear()` function could loop through all sprites and delete their personal pen Surfaces.
Or if we're OK with all sprites altering a global pen Surface, just clear that.

[2016-04-26 17:07] Tymewalk commented on #42
[This](http://stackoverflow.com/a/9312895) could help, now that we're working on v0.3.0.

[2016-04-26 17:23] Tymewalk commented on #56
Fixed in #58.

[2016-04-26 17:23] #56 closed

[2016-04-27 21:02] ghost commented on #49
YESSSSS! FInally fixed it! I forgot to initilise the pygame mixer, thats why there was a memory error,
http://stackoverflow.com/questions/8690301/pygame-memoryerror

[2016-04-27 21:03] ghost commented on #49
Going to release a patch...

[2016-04-27 21:08] #49 closed

[2016-04-27 21:10] ghost commented on #57
We could eventually join it into slither but for now it's still a test thing.

[2016-04-27 21:22] Omegabyte opened #59 "Old slither on pypi"
We need to have slither 2.2 (Or whatever the current version is) on pypi. Version 2.1 doesn't have the sound fix and it has an examples folder but no test folder.

[2016-04-27 21:27] ghost commented on #59
The current repo is 20 commits ahead.

[2016-05-04 18:14] Tymewalk commented on #59
OK. I'll get to work on it, unless anyone can think of anything important in the next 5 minutes.
While we could just hold out until 0.3.0 I think that's a bad idea seeing as how these changes are tested, ready-to-go, and also somewhat important.

Plus the PyPi version hasn't been updated for a month and I kind of want some way for people to know we're still alive :stuck_out_tongue:

[2016-05-04 18:32] Tymewalk commented on #59
OK, so it's been a little over 15 minutes.
I'm cloning the repo and getting ready to build and upload.

[2016-05-04 18:41] Tymewalk commented on #59
Don't use the one on the PyPi servers now - that's broken due to some error.

[2016-05-04 18:42] Tymewalk commented on #59
OK, PyPi is having some trouble. So it'll be a little while. I'll come back and close this when it gets fixed.

[2016-05-04 18:44] Tymewalk commented on #59
Upon further investigation only Slither is having trouble?
Trying to bump version to 0.2.3 and then delete the broken packages.

[2016-05-04 18:47] Tymewalk commented on #59
OK, so I got into Slither, but now I can't see the releases?!

[2016-05-04 18:59] Tymewalk commented on #59
It looks like it's only the releases tab. Sadly that's what I need to get to in order to fix 0.2.2 :frowning:

[2016-05-04 19:04] Tymewalk commented on #59
Can't access the releases tab on Tymeventure either.

Anyone know what to do?

[2016-05-05 12:57] Tymewalk commented on #59
Well, it got fixed somehow.
But now PyPi doesn't like me uploading 0.2.2 since "that filename has already been used before".

[2016-05-05 12:59] Tymewalk commented on #54
So, #59 is having some problems that I'd like to fix by releasing 0.3.0.

Does anyone know of anything that should get done before then?

[2016-05-05 13:01] Tymewalk commented on #59
Oh. Never mind. It appears to have uploaded it anyway, it must've been just a warning.

[2016-05-05 13:01] #59 closed

[2016-05-05 13:18] skistaddy commented on #54
I believe #59 just got solved, so isn't 0.3.0 ready to release? Maybe add URL image support?

[2016-05-05 15:13] Tymewalk commented on #54
Yeah, #59 was resolved, although that has nothing to do with making 0.3.0 ready to release (I originally wanted to release it so PyPi would stop complaining about the 0.2.x versions, but it's fine now.)

What do you mean by that? Do you mean getting images from the web and adding them to a Slither project?

[2016-05-05 15:14] Tymewalk opened #60 "Getting keypresses?"
I think there should be a function to get what keys are pressed in a Slither project.

I know how to go about this, but I'm not sure how it should be structured. What kind of function should we use? How would it be used?

[2016-05-05 15:57] skistaddy commented on #54
It would be the Same as adding a vector image, just through a URL.

[2016-05-05 15:59] skistaddy commented on #60
Well, the syntax could look something like `key.Down('a')`

[2016-05-05 18:12] Tymewalk commented on #60
Oh, OK, and then it just returns whether or not that key is being pressed?

[2016-05-05 18:47] Tymewalk commented on #54
I'm still confused. Do you want to get an image from a URL like "http://imagehost.com/blah"?

[2016-05-05 19:14] skistaddy commented on #60
Yeah. True or False.

[2016-05-05 19:17] skistaddy commented on #54
Yeah. So instead of using a file it uses a URL

[2016-05-05 19:30] Tymewalk commented on #54
Sounds cool, but couldn't that open up security vulnerabilites? I've heard of things being hidden in images and opening up every Slither script to something like that isn't good.

[2016-05-05 20:39] skistaddy commented on #54
True. And Scratch doesn't support that either, so best not to add it.

[2016-05-05 20:46] Tymewalk commented on #54
I don't think that last part is true (although I'm not saying we should add this). Just because Scratch doesn't support something doesn't mean it shouldn't be added.

[2016-05-05 21:30] ghost commented on #40
Quick start guide but no full tutorial... I'll work on this.

[2016-05-05 21:34] Tymewalk commented on #40
Thanks. :+1: By the way, I updated the main help page if that's useful. :smile:

[2016-05-05 21:37] ghost commented on #60
Doesn't the function registerCallback() do this?

[2016-05-05 21:58] skistaddy commented on #54
It is supposed to be a module for Scratch, yes?

[2016-05-05 22:14] Tymewalk commented on #54
Not really. It's supposed to bring Scratch-like features to Python. I also intend for it to make things in PyGame easier for beginners, and also take advantage of features in PyGame that don't exist in Scratch.

[2016-05-05 22:17] skistaddy commented on #54
Aah. I see.

[2016-05-10 22:23] BookOwl commented on #60
You can already register callbacks for key presses, but a way to get a list of pressed down keys would be good

[2016-05-31 18:39] Tymewalk commented on #42
http://stackoverflow.com/questions/9542555/collide-detection-and-masks-in-python-3-2-2
http://stackoverflow.com/questions/9312781/pygame-collision/9312895#9312895
http://pygame.org/wiki/FastPixelPerfect?parent=

I'd like to work on this, this is a good feature for us to add (perhaps it'd even go in 0.2.3). So here are some helpful links.

[2016-06-01 15:13] Tymewalk commented on #42
So @BookOwl said that we should use the `collideRect` method. So I've added the "easy" label.

[2016-06-01 16:28] Tymewalk opened #62 "Easy command to blit text?"
Should we have a command that works like this:

    blitText("Hello, world!", (0, 0), size=10, font="somefont.ttf")

[2016-06-01 16:42] Tymewalk commented on #35
Bumping this to see where we are.
@ethanhs?

[2016-06-01 21:17] BookOwl commented on #62
Yes, but I would prefer something like
`showText(text="Hi!", x=0, y=0, size=12, font="Helvetica")`

[2016-06-01 23:53] emmatyping commented on #35
Yeah, so... I moved computers and lost the progress I had made. :( However, I will def. keep working on this. Give me a week to wrap up finals and graduate, then I can get back to this. Sorry not to work on this for so long.

[2016-06-02 18:03] Tymewalk commented on #62
@BookOwl What about this (mandatory text argument):
`showText("Hello!", x=0, y=0, size=12, font="Helvetica")`

`font` has to be a system font, but you can also specify a custom one with `fontPath`:
`showText("Hello!", x=0, y=0, size=12, fontPath="path/to/font.ttf")`

If both `font` and `fontPath` are specified then `font` is used. Defaults to the pygame system font if neither are defined.

[2016-06-02 18:09] Tymewalk commented on #35
@ethanhs It's fine, everyone kinda had their own things for a while :smiley:
Now that I'm kind of getting back in the swing of things I'm just recapping everything we had open.

[2016-06-02 18:10] Tymewalk commented on #42
For current progress see #61. This should be closed soon.

[2016-06-02 18:14] Tymewalk commented on #23
Getting back to this...

The list of lines would be rather easy to make.

Drawing "code":

[code]

Rendering "code":

[code]

Line attributes:

[code]

[2016-06-02 18:18] Tymewalk commented on #45
Clarification.

By 1.0.0, all or almost all features of Scratch should be replicated in Slither.

It should be possible to take just about any Scratch project and rewrite it in Slither without too much effort.

This doesn't mean we'll just add everything - variables, control loops, etc. will not be included in Slither since they're already in Python. Remember - the goal is to make Python more like

[2016-06-02 18:38] Tymewalk commented on #54
Before 0.3.0 is ready we need some more features.

Mostly everything has already been added through 0.2.2 - collisions (#42, Pull: #61) are currently waiting approval.

I think that in 0.3.0 we need a few things.

## Seeing which Scratch blocks to duplicate

Probably the biggest thing is making Scratch's functions available in Slither. The more of these we have, the easier it is to replicate Scrat

[2016-06-02 18:50] BookOwl commented on #62
@Tymewalk sounds good to me.

[2016-06-02 18:52] Tymewalk commented on #62
Once #61 gets merged I'll start working on that.

[2016-06-02 18:54] BookOwl commented on #23
The main problem with the list of lines method is that we would have to redraw all those lines every single frame, which would be a lot more expensive than just giving each sprite it's own real Surface that it changes and then blitting each of these surfaces.

[2016-06-02 18:54] BookOwl commented on #23
Although with the list of lines method, it would be easy to implement an undo commend.

[2016-06-02 18:57] BookOwl commented on #54
I think that a "point towards" function would be very useful. On making it foolhardy, we could change the descriptors to check the types of what's passed to it.

[2016-06-02 19:00] Tymewalk commented on #54
@BookOwl Sounds good! But let's say this happens:
`Sprite.direction = '90'`

What do we do then? I'd prefer to stay away from just simply converting to an `int` without saying anything, as this may mislead new users.

[2016-06-02 19:01] Tymewalk commented on #23
@BookOwl Then what about a mix of both? Sprites could have a `recalculatePenSurface` method that gets called only when the pen is used. Then the `blit()` function in the main loop uses the Sprite's personal surface.

Although there would be problems with layering the pen surfaces. It happens for either method but it's work mentioning.

[2016-06-02 19:13] BookOwl commented on #54
We can check if the argument is an int, and if not, we can throw a TypeError with a message like "str is an invalid type for direction, perhaps you meant to pass an int or a float?"

[2016-06-02 19:14] BookOwl commented on #54
Also, I'm trying to get pygame working on my debian laptop now, so hopefully I can get some work done today.

[2016-06-02 19:18] BookOwl opened #63 "Python 2 compatibility?"
Will slither be compatible with Python2?

[2016-06-02 20:09] BookOwl commented on #42
I merged #61. Closing.

[2016-06-02 20:09] #42 closed

[2016-06-02 20:10] BookOwl commented on #54
#42 was resolved with PR #61.

[2016-06-02 20:12] BookOwl commented on #57
This seems out of the scope of what slither is meant to be. Maybe we can look at this some more later, but for now I'm closing.

[2016-06-02 20:12] #57 closed

[2016-06-02 20:23] BookOwl commented on #60
I like the function `slither.keysDown()`. It would return a list of the currently held down keys.

[2016-06-02 20:50] ghost commented on #63
Well I'm running python 2 on windows right now, I'm pretty sure it should remain compatibility with python 2, It's still quite popular.

[2016-06-02 20:51] ghost commented on #62
Wow, cool.

[2016-06-02 20:52] ghost commented on #35
Yeah, I kind of wandered off with my assignments...

[2016-06-02 21:12] BookOwl commented on #60
PR #64 adds this.

[2016-06-02 21:19] BookOwl opened #65 "Add mouse functions"
It would be nice to wrap the [pygame mouse functions](http://www.pygame.org/docs/ref/mouse.html) in an easier to use wrapper.

[2016-06-02 22:15] BookOwl commented on #65
#66 adds this.

[2016-06-03 16:23] BookOwl opened #67 "Better docs."
I think that the last thing that we should get done before v0.3.0 (besides the keyboard and mouse functions) is to create better docs and a tutorial, which we can host on readthedocs.

[2016-06-03 16:23] BookOwl commented on #67
Maybe we should close #40 in favor of this.

[2016-06-03 16:24] BookOwl commented on #62
Do we want to add this in v0.3.0 or save it for 0.4?

[2016-06-03 16:25] BookOwl commented on #63
According to slither/**init**.py, we will support pythons 2 and 3.

[2016-06-03 16:25] #63 closed

[2016-06-03 17:43] Tymewalk commented on #63
Just a small note - if we need to drop support for one I'm OK with that. I just put that in there a long long time ago.

[2016-06-03 17:56] Tymewalk commented on #54
#60 was resolved with #64, and #65 was resolved with #66 (thanks, @BookOwl!)

[2016-06-03 17:56] Tymewalk commented on #65
Closing as I merged #66.

[2016-06-03 17:56] #65 closed

[2016-06-03 17:56] Tymewalk commented on #60
Closing as #64 was merged.

[2016-06-03 17:56] #60 closed

[2016-06-03 17:59] Tymewalk commented on #62
@BookOwl 0.3.0 sounds good. It doesn't seem like it'll be too hard, so no sense in putting it off.

My plan is to get as many useful functions and small things as possible in 0.3.x, since then we can work on advanced stuff for 0.4.

[2016-06-03 18:00] Tymewalk commented on #54
Sounds good to me. This way Slither is more user-friendly when something goes wrong.

[2016-06-03 18:02] Tymewalk commented on #40
This was pretty much resolved when we got some groundwork done. However, the docs are still not high-quality.

Direct anything else for this thread to #67.

[2016-06-03 18:02] #40 closed

[2016-06-03 18:04] Tymewalk commented on #67
@BookOwl Closed #40 as it refers to the stuff we already did.

Hosting on readthedocs would be nice, and we could direct users there through PyPi, our README, and the Scratch topic.

The question now is what to do with the current help, and what kinds of examples we'll use.

[2016-06-03 18:07] CosmicWebServices opened #68 "Main code in __init__.py?"
Should this happen?

[2016-06-03 18:29] CosmicWebServices commented on #67
I could help... if u need it

[2016-06-03 20:38] skistaddy commented on #54
@Tymewalk for the `sprite.Direction = '90'` thing, couldn't you just convert the text automatically to an integer by using `int()`? Ik it would be good to give them an error, but stop the program?

[2016-06-03 20:39] skistaddy commented on #67
`I can do the documentation`

[2016-06-03 20:40] skistaddy commented on #68
Probably not, I believe we should probably make a new file with all the code and just execute it in `__init__.py`

[2016-06-03 21:00] CosmicWebServices commented on #68
I agree I am not on the team _yet_ but it seems like a bad idea

[2016-06-03 21:07] CosmicWebServices commented on #68
Making a pull request

[2016-06-03 21:21] CosmicWebServices commented on #68
Made a pull request #69

[2016-06-03 21:28] CosmicWebServices commented on #68
I am IcyCoder by the way

[2016-06-03 21:45] BookOwl commented on #54
Python in general doesn't do any automatic type conversions, I don't think that we should either.

[2016-06-03 21:54] skistaddy commented on #54
M'kay.

[2016-06-04 07:41] ghost commented on #67
`Me too please!`

[2016-06-04 07:42] ghost commented on #67
I can turn the current help into a basic quickstart guide.

[2016-06-04 18:37] Tymewalk commented on #67
@Omegabyte You're already on the documentation team. @bjskistad, feel free to help, once you make a PR I'll add you.

[2016-06-04 18:52] Tymewalk commented on #54
@BookOwl We'll still throw a warning/error, though, right?

[2016-06-04 19:28] skistaddy commented on #54
Yeah. Probably stop the script too. (With `sys.exit()` I'm assuming.)

[2016-06-04 19:28] skistaddy commented on #67
K!

[2016-06-04 19:49] Tymewalk commented on #54
@bjskistad Or something similar.

[2016-06-05 00:44] skistaddy commented on #54
@Tymewalk Of course. :D You're the owner. I was making an assumption that that was what you were going to do. :D

[2016-06-05 00:59] Tymewalk commented on #54
@bjskistad OK.

So here are a few examples.

Problem: `Sprite.direction = '90'`
Solution: `Sprite.direction only accepts int as input`

Problem: `Sprite.costumeName = 10`
Solution: `Sprite.costumeName only accepts strings as input, maybe you meant Sprite.costumeNumber?`

Problem: `Sprite.moveSteps(10, 29)` (two arguments, not one)
Solution: `Sprite.moveSteps only accepts one argument, numSteps`

W

[2016-06-05 01:00] skistaddy commented on #54
Looks good!

[2016-06-06 16:10] BookOwl commented on #41
We could use pages to host our docs, if #71 gets approved

[2016-06-06 20:07] BookOwl commented on #67
We've decided to use mkdocs (#71)

[2016-06-06 20:08] BookOwl commented on #67
I'll start working on a reference

[2016-06-06 20:15] BookOwl opened #73 "Where should we host the docs?"
If we use readthedocs,

- we get free hosting (with small ads)
- the hosted docs are automatically kept up to date
- it looks professional
- it might be tricky to get set up

If we use github pages,

- it's simple to setup and change
- we have to update the hosted docs
- it's completely free without ads
- everyone should know how to use it

[2016-06-06 20:15] BookOwl commented on #73
I vote for github pages.

[2016-06-06 20:23] Tymewalk commented on #73
I vote for GH Pages too.
- It merges right in our GH repo
- Most people know how to use it
- Directing users shouldn't matter, just append the GH-Pages link to the PyPi description
- It has no ads (always a plus for users)

The only downside I see is that we have to update the docs ourselves, but even that's not too big a problem.

[2016-06-06 20:52] skistaddy commented on #73
I vote GH pages.

[2016-06-06 21:49] BookOwl commented on #73
@Tymewalk @bjskistad, the Slither docs are live at http://pyslither.github.io/

[2016-06-06 21:49] #73 closed

[2016-06-06 21:50] BookOwl commented on #67
The first-draft docs are live! http://pyslither.github.io/

[2016-06-06 22:23] BookOwl commented on #54
@Tymewalk, your last example would already raise an error.

[2016-06-06 22:24] BookOwl commented on #41
We are using gh-pages to host our docs

[2016-06-06 22:41] Tymewalk commented on #73
Looks good! Thanks!

[2016-06-06 22:42] Tymewalk commented on #54
@BookOwl Oh. I thought Python reported that differently.

Either way, I think this looks good. I'll create a separate issue for it soon.

[2016-06-06 22:46] skistaddy commented on #67
Close?

[2016-06-06 22:48] skistaddy commented on #73
Awesome!

[2016-06-06 22:49] Tymewalk commented on #67
@bjskistad No. We do have a new doc location, but the docs are still low-quality.

[2016-06-06 22:51] BookOwl commented on #67
We still need to finish the reference and add a tutorial

[2016-06-06 22:54] BookOwl commented on #23
I think that this needs to be in 0.4

[2016-06-06 23:30] Tymewalk commented on #23
@BookOwl That's a good idea.

[2016-06-10 02:25] bjskistad opened #75 "CI?"
I think it would be helpful for a CI such as [Travis](https://travis-ci.org/), as it would help check Pull Requests for flaws. It will also check recent commits for you too.

[2016-06-10 02:32] emmatyping commented on #75
I definitely support this. We should run our tests etc.

[2016-06-10 02:33] skistaddy commented on #75
Also, I would be willing to create the YAML file.

[2016-06-10 17:52] BookOwl commented on #75
How can we test graphics?

[2016-06-10 20:47] skistaddy commented on #75
@BookOwl You wouldn't test the graphics, you would test the code BEHIND the graphics.

[2016-06-10 22:19] BookOwl commented on #75
But since all that (most of) the code does is make graphics, how would we test if the code works?

[2016-06-10 22:26] skistaddy commented on #75
idk. There's no way to do that. This is just to check for flaws in written code.

[2016-06-10 22:29] BookOwl commented on #75
But "our" code that we would be testing just tells pygame to do stuff, which then just draws stuff on the screen, so I don't know how we would test it.

[2016-06-10 22:34] BookOwl commented on #68
This has been implemented. Closing

[2016-06-10 22:34] #68 closed

[2016-06-10 22:34] BookOwl commented on #23
Since #69 was merged, I'll start working on this.

[2016-06-10 22:35] BookOwl commented on #62
@Tymewalk, are you still planning on doing this?

[2016-06-10 22:36] BookOwl commented on #54
Right now, the only two things that we have left before v0.3 is ready is #62 and #67. Is there anything else we want to add?

[2016-06-11 22:45] BookOwl opened #76 "basicTest.py doesn't work in Python2"
The circling sprite in the middle has the wrong costume. I did some testing, and it's been that way since commit  db54b1d (or version 0.2.1). I couldn't get 0.2.0 to work in python2.
The test does work in 0.2.1 on python3

[2016-06-15 15:40] BookOwl commented on #76
@Tymewalk

[2016-06-27 14:30] Tymewalk commented on #75
I agree with @BookOwl here. Travis would only check for flaws like:

[code]

If something was wrong graphically (for example, a PR breaks the rotation script), Travis wouldn't catch that.

[2016-06-27 14:30] Tymewalk commented on #62
@BookOwl Yeah. Just had some inactivity

[2016-06-27 16:29] skistaddy commented on #75
I see.

[2016-07-03 15:13] Tymewalk commented on #54
@BookOwl Not that I can think of. In fact, 0.3 is actually closer than we think, since #67 has little to no effect on the actual code and #62 should be very simple.

[2016-07-03 15:14] Tymewalk commented on #75
Given what I said above I'm closing this issue as it's been resolved. If anyone has other thoughts feel free to re-open this issue.

[2016-07-03 15:14] #75 closed

[2016-07-05 22:23] Tymewalk commented on #76
Very, very strange. I'll take a look.

[2016-07-06 00:32] skistaddy commented on #76
_20 days later..._

[2016-07-06 00:50] Tymewalk commented on #76
@bjskistad Yeah, it's been inactive for a while. :tongue:

[2016-07-06 00:53] skistaddy commented on #76
:P

[2016-08-07 01:38] Tymewalk commented on #35
How are we on this?

[2016-08-07 01:39] Tymewalk commented on #62
Been gone for over a month now, Past Self :neutral_face:

I'll get to work on this though.

[2016-08-07 01:54] Tymewalk commented on #62
We apparently forgot about `color` and `antialias` arguments.

Check #77 for my progress on this.

[2016-08-07 03:01] emmatyping commented on #35
Ah, um. So I'm going to say that the easiest route would be to either use pyrsvg or offscreen render using glsvg. Too many of the c++ dependencies just aren't written to run on Windows. I'd rather have an optional GTK dependency than port the several files. And I'm sorry I don't have time to work on this atm, I am working on a different program and I want to focus on that. What free time I had, I

[2016-08-07 12:33] Tymewalk commented on #35
@ethanhs That's all right. It's probably best that we don't try to port everything, there'd still be some issues regardless.

Thanks for trying, though. It's a help to at least know we could get this far :smile:

[2016-08-15 20:15] Tymewalk commented on #62
<s>The tricky part here is getting the screen to blit to.</s>

<s>We could ask for which screen as an argument but that could be confusing.</s>

Never mind. We have a `slitherStage` variable.

[2016-09-11 18:20] Tymewalk commented on #62
It's done, and it also rewrote a little code which makes `blit`ting new things easier in the future.

Soon we shall release 0.2.3 (or 0.3.0)... :grin:

[2016-09-11 18:20] #62 closed

[2016-09-11 18:22] BookOwl commented on #76
_two months later..._

[2016-09-11 18:23] Tymewalk commented on #54
#62 was resolved with #77 just now.

The only thing left would be #67, and even that doesn't really stop us.

Removing the "future" label as this is coming up very soon.

@bjskistad @BookOwl @Omegabyte @ethanhs @CosmicWebServices what do you guys think about releasing 0.3.0 soon?

[2016-09-11 18:24] Tymewalk commented on #76
@BookOwl Looking now.

[2016-09-11 18:24] BookOwl commented on #54
I think that we just need to do #76 and we'll be ready! :shipit:

[2016-09-11 18:24] BookOwl commented on #76
@Tymewalk great

[2016-09-11 18:26] Tymewalk commented on #76
Just confirmed this, it should be "SoExcited" when it's actually "snakey".

[2016-09-11 18:28] Tymewalk commented on #76
Both `costumeNumber` and `costumeName` don't work, and it's not a problem with the image. Everything's spelled correctly.

[2016-09-11 18:29] BookOwl commented on #35
If we can rely on users having node.js installed, we could use [this](https://github.com/shakiba/svgexport) to rasterize the SVGs to PNGs.

[2016-09-11 18:32] Tymewalk commented on #76
Adding some `print`s, it looks like the setter isn't getting called at all.

[2016-09-11 18:33] Tymewalk commented on #35
@BookOwl Then what to do if they don't have it installed?

Will we just warn them or is it a hard dependency?

[2016-09-11 18:33] BookOwl commented on #76
I bet that Python2 treats properties differently then Python3

[2016-09-11 18:35] Tymewalk commented on #76
@BookOwl Yep.

[source](http://sw32.com/python-2-x-how-to-use-property-settter-and-getter/)

So we'll have to try inheriting from `Object` rather than `Stage`.

[2016-09-11 18:36] BookOwl commented on #35
We could say that if they have node.js installed we will be able to handle svgs, otherwise we will throw an error when the user tries to use a svg just like we do now.

[2016-09-11 18:36] Tymewalk commented on #76
OH - additionally, it may be clashing with the method name.

So we just preface the variables with underscores.

[2016-09-11 18:37] BookOwl commented on #76
If we make `Stage` inherit from `object` we should be good.

[2016-09-11 18:38] Tymewalk commented on #76
@BookOwl Yep. Testing now.

[2016-09-11 18:43] #76 closed

[2016-09-11 18:44] Tymewalk commented on #54
Just fixed #76 in #78. Ready for release?

[2016-09-11 18:46] Tymewalk commented on #35
OK. In the installation instructions we can also include that they have to install that module.

Where would the rasterized PNGs go, though?

[2016-09-11 18:46] BookOwl commented on #54
I think so!

[2016-09-11 18:47] Tymewalk commented on #54
@BookOwl Wow, so many changes!

OK - I'm writing up the release now.

[2016-09-11 18:48] BookOwl commented on #35
We could create a cache dir to put the pngs in and then delete it when we exit. Also, I think that it should be possible to get the setup.py to install it for us.

[2016-09-11 18:53] Tymewalk commented on #54
It's done! All that's left is to release to PyPi.

[2016-09-11 18:55] Tymewalk commented on #54
Released! Closing as this is done now. :grin:

[2016-09-11 18:55] #54 closed

[2016-09-11 18:57] Tymewalk commented on #35
@BookOwl OK then.

Should we remove the "hard" label? It seems like it's just a matter of getting a new program to play nice with our code.

[2016-09-11 19:50] emmatyping commented on #35
You can run arbitrary python code in setup.py, so installing it shouldn't be a problem

[2016-09-12 01:39] Tymewalk opened #79 "Change screen size/fullscreen/caption"
We should allow users to change these. For example, some users may want widescreen Slither projects, or an automatically updating caption.

- [x] Add a `setCaption` function
- [x] Allow users to set the size of the stage
- [x] Allow full screen

[2016-09-12 12:21] BookOwl commented on #79
This sounds like a good idea to me.

[2016-09-12 13:45] Tymewalk commented on #79
Clarified title and tags since we're now implementing this.

[2016-09-12 14:04] BookOwl commented on #79
~~Should this be a free standing function or a method on `Stage`?~~ I decided on a free function

[2016-09-12 14:37] BookOwl commented on #35
@Tymewalk @ethanhs, I just found out that if we restrict ourselves to just Python 3.4+, we can use [CarioSVG](http://cairosvg.org) to rasterize the SVGs to PNGs. They say that it works on all platforms, and installing it is as easy as`pip install cairosvg`, so we could add it as a dependency.

[2016-09-12 14:59] BookOwl commented on #35
OK, it turns out that the user still needs to have cairo installed, BUT, I've found out that it should be easy to build a stand-alone cairo DLL that we can include for Windows, and we just need to run a simple shell command to get it to install on OS X and Linux.

[2016-09-12 15:00] BookOwl commented on #35
(so that I can remember where the instructions are) https://www.cairographics.org/end_to_end_build_for_win32/
https://github.com/Automattic/node-canvas/wiki/Installation---OSX
https://www.cairographics.org/download/
(on home-brew) `brew install cairo`

[2016-09-12 15:59] BookOwl commented on #35
~~I started a PR in #81~~

[2016-09-13 17:45] BookOwl commented on #35
PR #83 adds this

[2016-09-13 18:21] BookOwl commented on #79
Since I finished adding SVG support (#83) , I'll finish up these.

[2016-09-13 18:49] BookOwl opened #85 "Version 0.4"
I've made PRs to add all the features in the v0.4.0 milestone, except for Pen. Is there anything else we want in 0.4?

[2016-09-13 22:21] BookOwl opened #86 "Cloning"
I've been thinking about how to add cloning to Slither, and this is what I came up with:
We would replace
![clone](https://cloud.githubusercontent.com/assets/13385064/18493421/7e0fa3a2-79de-11e6-8231-9e798637fe59.png)
with `clone = sprite.clone()`, and
![start](https://cloud.githubusercontent.com/assets/13385064/18493447/9dd3fd0a-79de-11e6-99b6-6a14e3628bcb.png)
with
[code]

@Tymewalk, what do you

[2016-09-13 22:23] BookOwl commented on #86
How would we handle the events going in parallel?

[2016-09-13 22:26] BookOwl commented on #86
We could use `yield` to handle pausing the functions, which would turn this problem into running coroutines...

If we decide to go that route, we could replace `slither.runMainLoop(framefunc)` with

[code]

and we could also add broadcasts very similarly.

[2016-09-13 22:31] BookOwl commented on #86
After the v0.4.0 PRs get merged, I'll try making a branch that implements this idea. It would be a big, breaking change though.

[2016-09-13 23:22] BookOwl commented on #23
What should the API look like? I'm thinking something like
[code]

[2016-09-13 23:30] Tymewalk commented on #79
PRs were merged, so closing now.

[2016-09-13 23:30] #79 closed

[2016-09-14 12:47] BookOwl commented on #23
These are the pen blocks that we need to add to Slither
![capture](https://cloud.githubusercontent.com/assets/13385064/18512530/930bd860-7a57-11e6-8e82-7a09980a660e.PNG)

[2016-09-14 16:28] Tymewalk commented on #23
What does "pen shade" do?

Also, the "change pen color" block can be removed, and the "set pen color" blocks can be merged into one: `setPenColor((R,G,B))`.

[2016-09-14 17:31] BookOwl commented on #23
I think that it's how "bright" the color is.

[2016-09-15 02:37] Tymewalk commented on #23
Ah, I see.

Either way, all those pen color changing blocks can be replaced by `setPenColor` and pen RGB values (`penR`, `penG`, `penB`?)

[2016-09-15 13:04] BookOwl commented on #23
The first one (with the color input can), but the rest don't actually work on RGB colors, they work on HSL colors. Luckily, Python comes built in with a module to convert between RGB and HSL.

[2016-09-15 13:17] BookOwl commented on #23
I think that this would be a good API:

[code]

Color objects would have the following API:

[code]

[2016-09-19 14:52] Tymewalk commented on #35
#83 was just merged. Which means that after half a year, Slither FINALLY supports SVGs.

It is beautiful.

[2016-09-19 14:55] #35 closed

[2016-09-19 15:03] Tymewalk commented on #85
Hmm, not that I can think of. Cloning/broadcasts are still a while off, so they can safely be put off for a while.

SVG support and fullscreen/caption control are the big things. SVG support especially is going to be the defining feature of 0.4.

We could always release 0.4.1 afterwards.

[2016-09-19 15:07] BookOwl commented on #85
OK, so once we add Pen support, we should be ready to release 0.4

[2016-09-19 16:03] Tymewalk commented on #23
@BookOwl Sounds great, although shouldn't it be `hsv` instead of `hsl`?

Also, I thought of how we can blit pen objects - those with a higher z-index get put above, just like sprites, so it's ordered like this:

[code]

Or we could do all pen then all sprites.

[2016-09-20 15:39] BookOwl opened #87 "Speech Bubbles"
These are kind of important. :P

[2016-09-21 00:45] skistaddy commented on #87
Are we going to use speech bubbles or just text?

[2016-09-21 00:57] BookOwl commented on #87
I think that we need to add the actual bubbles.

[2016-09-21 01:18] CosmicWebServices opened #88 "Idea for v1.0.0 Scratch 2 (or three) files to PySlither converter"

[2016-09-21 01:18] CosmicWebServices commented on #88
@BookOwl @Tymewalk

[2016-09-21 12:37] BookOwl commented on #88
I'm actually working on a (top secret, don't tell anybody) converter right now.
[coro-scratch](https://github.com/BookOwl/coro-scratch)
I plan on hooking it up to Slither once Slither gets enough features.

[2016-09-21 20:39] skistaddy commented on #87
So how will you implement the speech bubbles?

[2016-09-22 15:36] Tymewalk commented on #88
Ooh, nice :)

You might also be able to take the multithreading code and use it here in Slither for broadcasts and such.

[2016-09-22 15:37] Tymewalk commented on #87
@bjskistad Draw both ends of the bubble, then add midsegments in-between for wider text?

[2016-10-26 22:57] ethanhs opened #90 "Better SVG module?"
So, I know I didn't really deliver on #35 (thanks @BookOwl for working on that), but now there is a cython binding to nanosvg (one of the original ideas I had). It needs a bit of cleaning, and the build process needs to be made cross platform, but I think if that happens (or more exactly if I do that), I could probably re-write the Svg Api to no longer rely on imagemagick and use a module instead.

[2016-10-26 23:09] skistaddy commented on #90
A module would be much better in my opinion. 😀

[2016-10-27 01:41] BookOwl commented on #90
Yes, I think that this would definitely be an improvement other what we currently are doing.
Go for it.

[2016-10-30 16:24] Tymewalk commented on #90
@ethanhs That would be a HUGE improvement. Having a module would not only be much easier but also allow others to use SVGs without using Slither.

[2016-10-30 16:26] Tymewalk commented on #86
(This project lives in the shadowy place between lots of activity and nothing. :stuck_out_tongue:)

@BookOwl Any chance that it would break older projects (not that there's very many of them)?

[2016-10-30 16:27] Tymewalk commented on #67
Bumping as we really need docs hosted somewhere like ReadTheDocs.

Having stuff in the package is OK, but it's a little tricky to get to.

[2016-10-30 16:29] Tymewalk commented on #23
Scratch uses all pen then all sprites, so if a user really wants to draw pen above a sprite they can just stamp.

This leaves one design question - do sprites affect a global Stage pen, or have their own personal pen areas?

AFAIK Scratch runs off of just one pen surface in the Stage.

[2016-10-30 16:43] emmatyping commented on #90
Okay. I have a big midterm on Thursday, but Im hoping Ill have time to work on it after that.

[2016-10-30 16:47] Tymewalk commented on #87
Expanding on that, we'd have a minimum width for speech bubbles, so we'd know how big to make the ends.

If we used SVGs for speech bubbles we could render those and scale them as needed (the minimum width being scaled based on window size).

[2016-10-30 16:53] Tymewalk commented on #67
I notice we have a nice [site](pyslither.github.io) already. Perhaps we should make that more prominent?

[2016-10-30 20:20] skistaddy commented on #87
True, but drawing both ends of the bubble and then adding the midsegments, as mentioned above, would require some form of pen, correct?

[2016-11-02 17:12] Tymewalk commented on #87
@bjskistad No, we would `blit` them to the screen without pen, although that does sound like a good idea.

[2016-11-02 20:53] skistaddy commented on #87
@Tymewalk K.

[2016-11-03 21:43] emmatyping commented on #90
Well, trying to not think about my midterm later, I got it working :)

The code is [here](https://github.com/ethanhs/pynanosvg). It may break. Let me know if there are questions. Installing: run `git clone --recursize https://github.com/ethanhs/pynanosvg` (so that it pulls nanosvg headers). Then it should be as easy as `python setup.py install`.

The best way to use it is likely to use Pygame's `i

[2016-11-03 23:45] BookOwl commented on #90
Great work! :D

[2016-11-03 23:48] emmatyping commented on #90
Thanks! I plan on adding more error handling and tests, but the API should be 'stable' I think. (I also plan on adding it to PyPi).

[2016-11-17 08:46] ghost commented on #85
[when (sprite) clicked] support

[2016-11-17 09:07] Omegabyte opened #91 "Support for pygame_sdl2"
This would be awesome. It would also allow slither support for mobile platforms.

[2016-11-17 21:19] ghost commented on #45
A slither wrapper for Tkinter would be awesome! ;)

[2016-12-13 22:53] Tymewalk commented on #91
Didn't think that users could install modules on mobile.

Or that there was Python on mobile at all. (Where can I get that? :stuck_out_tongue:)

[2016-12-15 23:04] ghost commented on #91
I think it works by wrapping the application and it's dependencies in C, then connecting it using the JNI. I'm not quite sure what happens for IOS though.

[2017-02-15 18:05] Tymewalk commented on #91
Ah. In that case, this is something we definitely want to consider.

[2017-02-15 18:06] Tymewalk commented on #85
@Omegabyte That's a great idea, I'll go open an issue for that (unless we have it already).

[2017-02-15 18:07] Tymewalk opened #94 ""when sprite clicked" support"
(As mentioned in #85)

This is rather simple in terms of click detection, just check which sprite is under the cursor on a mousedown event.

But how would we implement it? An `onClick()` function for sprites?

[2017-04-02 22:47] ghost commented on #94
I smell JQuery... :smiley:

[2018-12-05 22:30] arloft opened #96 "Intro program on help (help/index.html) error: "Stage object has no attribute 'SetColor'""
Trying to figure out how to use this, and it's not very clear.
Tried the starter program located on index.html in the 'help' folder. Fails with error 'Stage' object has no attribute 'SetColor'.

I've installed slither with pip3. Don't care about SVG at the moment so skipped ImageMagick.
Pasted the code in help/index.html into a .py file, saved it to my desktop, then tried to run it from the termin

[2018-12-05 22:37] arloft commented on #96
Removed 'setcolor' from the script and the program ran, opening a white window.
Was expecting Scratch-like blocks to build programs, disappointed to see it's apparently just a library like pygame. If you guys could build a Scratch-like environment to build programs that are Python programs, and export them to an standalone program, you'd really be on to something.
Maybe I'm missing something, and

[2018-12-06 06:07] BookOwl commented on #96
Yeah, this was meant to be transition library for Scratch programmers who wanted to move to Python but still be able to easily use graphics. Also, I don't think any of us really work on this anymore (I know I haven't in a couple of years).

I think the closest thing to what you want that exists right now is [Snap!](https://snap.berkeley.edu/) and then using [this tool](http://snapp.citilab.eu/) to

[2018-12-06 06:08] BookOwl commented on #96
I'l leave this open because the documentation is wrong and that is a bug.

[2019-01-09 22:16] skistaddy commented on #96
It was the initial goal to create the program you are talking about, but I think everyone eventually moved on from slither to better things.